<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.book">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Customer">
        <activity
            android:name=".Screen.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Screen.UserInformationActivity"
            android:exported="true" />
        <activity
            android:name=".Screen.BookDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Screen.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Screen.MessageUserScreen"
            android:exported="true" />
        <activity
            android:name=".Screen.OrderStatusActivity"
            android:exported="true" />
        <activity
            android:name=".Screen.OrderConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".Screen.EvaluateActivity"
            android:exported="true" />
        <activity
            android:name=".Screen.ChangePasswordActivity"
            android:exported="true" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Screen.SignInActivity"
            android:exported="true">
        </activity>
        <activity android:name=".Screen.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>